.header {
  padding-top: 20px;
}
p {
  margin: 0;
}
.headerLogoBody {
  display: flex;
}
.headerLogo {
  display: flex;
  align-items: center;
}
.headerLink {
  width: 100%;
}
.description p{
  text-transform: uppercase;
}
.headerMail a {
  color: #c7a9a9;
  text-decoration: none;
  font-size: 20px;
}
.headerPhone a {
  color: #f06969;
  text-decoration: none;
  font-size: 25px;
}
.modal {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
/* MEADIA */
@media (max-width: 576px){
  .header {
    padding-top: 0;
  }
}
@media (max-width: 500px) {
  p{
    font-size: 13px;
  }
  .headerMail a { 
    font-size: 15px;
  }
  .headerPhone a {
    font-size: 15px;
  }
}
@media (max-width: 400px) {
  .headerPhone {
    margin-bottom: 15px;
  }
  .modal {
    justify-content: flex-start;
  }
  .description {
    display: none;
  }
}